[submodule "vim/src/bundle/vim-fugitive"]
	path = vim/src/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/src/bundle/vim-pathogen"]
	path = vim/src/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/src/bundle/vim-vividchalk"]
	path = vim/src/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/src/bundle/vim-rails"]
	path = vim/src/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/src/bundle/vim-coffee-script"]
	path = vim/src/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/src/bundle/vim-commentary"]
	path = vim/src/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/src/bundle/vim-endwise"]
	path = vim/src/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/src/bundle/vim-surround"]
	path = vim/src/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/src/bundle/command-t"]
	path = vim/src/bundle/command-t
	url = https://github.com/wincent/Command-T.git
